.form__label {
  display: block;
  margin-bottom: 8px;
  align-items: center;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.form__input {
  height: 60px;
  width: 100%;
  font-family: inter;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
  background-color: #2f80ed;
  color: #fff;
  margin-top: 32px;
}
.form__button:hover {
  opacity: 70%;
}

.form__fieldset {
  border: none;
}
.form__checkbox {
  margin-bottom: 120px;
  width: 20px;
  height: 20px;
  justify-content: center;
}
.form__lable_direction_left {
  margin-left: 12px;
}
.form__fieldset_terminos {
  display: flex;
  justify-content: center;
}
