.content {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  color: #ffffff;
  line-height: 52px;
  font-size: 44px;
  font-weight: 500;
}

.recipes__subtitle {
  font-family: "Noto Serif", Times, sans-serif;
  margin-left: 80px;
  margin-bottom: 80px;
  color: #ffffff;
  max-width: 438px;
  line-height: 30px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}
.recipes__videos {
  display: flex;
  height: 273px;
  width: 480px;
  margin: 80px auto 215px;
  justify-content: center;
}
.video-item {
  display: flex;
  margin-bottom: 24px;
  column-gap: 40px;
}
.recipes__iframe {
  height: 273px;
  width: 480px;
}
.video-caption {
  display: flex;
  margin-bottom: 215px;
  color: #ffffff;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  justify-content: space-between;
}
